@use "sass:color";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

html, body {
  box-sizing: border-box;
}

// How to use: https://getbootstrap.com/docs/5.0/layout/breakpoints/
@import 'media-queries';

@mixin monofont {
  font-family: 'Courier New', Courier, monospace;
}

@mixin lightbg {
  background-color: #eee;
  &:hover {
    background-color: color.scale(#eee, $lightness: 50%);
  }
}

@mixin nogap {
  margin: 0;
  padding: 0;
}

body {
  background: #ddd;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100vw;
  @include nogap;
}

h1 {
  @include monofont;
  @include lightbg;
  font-size: 1rem;
  margin: 0;
  padding: 1em;
}

.feature {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;

  .blob-fish pre {
    font-size: 4rem;
  }
}

.atlas {
  align-items: flex-end;
  // display: flex;
  // flex-direction: rows;
  // flex-wrap: wrap;
  // justify-content: space-around;
  // margin-bottom: 1em;

  // // .blob-fish {
  // //   pre {
  // //     font-size: 2rem;
  // //     margin: 0;
  // //   }
  // // }
  // &>* {
  ////   flex: 1;
  //   flex: 1 0 calc(25% - 10px);
  //   margin: 1px;
  // }
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  button {
    @include monofont;
    @include lightbg;
    font-size: 1.2rem;
    display: block;
    border: 0;
    height: 2rem;
  }
}

.blob-fish {
  label {
    text-align: center;
    @include lightbg;
    @include monofont;
  }
}

.flex-vert {
  display: flex;
  flex-direction: column;
}

// .flex-horiz {
//   display: flex;
//   flex-direction: rows;
//   flex-wrap: wrap;
// }

// .flex-space-around {
// }

.bf {
  display: flex;
}

/* Phone: Portrait */
// @media only screen and (min-device-width: 300px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
@include media-breakpoint-down(md) {
  h4 {
    font-size: 1.4rem;
  }

  .feature {
    .blob-fish pre {
      font-size: 4rem;
      margin: 0 0 2rem 0;
    }
  }

  .atlas {
    margin: 0 0 3px 3px;

    // .blob-fish {
    //   flex: 1 1 20vw;
    //   margin: 0 3px 3px 0px;
    //   @include lightbg;

    //   pre {
    //     font-size: 1.3rem;
    //     margin: 0 0 0.8em 0;
    //   }

    //   label {
    //     font-size: 0.9rem;
    //   }
    // }
  }
}
@include media-breakpoint-up(md) {
  .atlas {
    grid-template-columns: repeat(7, 1fr);

  }
}